@use 'var';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    max-height: 56px;
    margin: 16px;

    @media (min-width: var.$mediaMinWidth) {
      max-height: 72px;
    }
  }

  &__nav {
    margin: 0 16px;
    
    &__list {
      display: flex;
      list-style: none;
      &__item {
        padding: 8px;

        a {
          text-decoration: none;
          color: var.$mainTextColor;
        }
      }
    }

    @media (min-width: var.$mediaMinWidth) {
      display: none;
    }
  }

  @media (min-width: var.$mediaMinWidth) {
    justify-content: center;
  }
}