@use 'var';
@use 'header';
@use 'hero';
@use 'sobre';
@use 'filmes';
@use 'personagens';

/*
  font-family: 'Kanit', sans-serif;
  font-family: 'Montserrat', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var.$mainBackgroundColor;
}

@mixin title($fontSize: 40px) {
  font-size: $fontSize;
  color: var.$mainTextColor;
  font-family: 'Kanit', sans-serif;
  font-weight: bold;
}

@mixin text($fontSize: 16px) {
  font-size: $fontSize;
  color: var.$mainTextColor;
}

.section {
  min-height: 320px;

  &__title {
    @include title();
  }
}

